.spacer{
    aspect-ratio: 900/450;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh;
}
.layer{
    background-image: url('../../src/wave-haikei.svg');
}
.login{
    text-align: center;
    padding-top: 5px;
}
.login-btn{
    background:rgb(235, 182, 199);
    border:0;
    border-radius:50px;
    margin-top:20px;
    height:30px;
    width:90px;
}